# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 의존성 디렉토리
node_modules

# 빌드 출력 디렉토리
dist
dist-ssr
out/
coverage/

# 로컬 환경 파일
*.local
.env
.env.*

# 에디터 디렉토리 및 파일
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 운영체제에서 생성된 파일
Thumbs.db
Desktop.ini

# 툴별 캐시 파일
.eslintcache
.stylelintcache

# TypeScript 컴파일러 캐시
*.tsbuildinfo
